version: '3.8'

services:
  server:
    build: ./server
    restart: always
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/user-management-system
      - JWT_SECRET=docker_secret_key
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=production
      - CLIENT_URL=http://localhost:3000
    depends_on:
      - mongo
    networks:
      - app-network

  client:
    build:
      context: ./client
      args:
        NEXT_PUBLIC_API_URL: http://localhost:5000/api
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000/api
    depends_on:
      - server
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
